.body {
    width: 1900px;
    margin: 0 auto;
    background: #fff;
}
.header-container {
    width: 1900px;
    margin: 0 auto;
}
.header-container .header {
    width: 1900px;
    margin: 0 auto;
    display: flex;
    background: #313131;
}
.header .header-logo-wrap {
    height: 70px;
    background: rgba(0, 0, 0, 0.0001);
}
.header .header-logo-wrap .header-logo {
    padding: 22px 27px 21px 27px;
}
.header .architect {
    width: 124px;
    height: 26px;
    margin-top: 20px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    text-align: center;
    color: #fff;
}
.menu-header .menu-list {
    width: 722px;
    margin-top: 25px;
    margin-left: 478px;
    display: flex;
    justify-content: space-between;
}
.menu-header .menu-item.home {
    width: 46px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-transform: uppercase;
    color: #fff;
}
.menu-header .menu-item.architecture-design {
    width: 169px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-transform: uppercase;
    color: #fff;
}
.menu-header .menu-item.strange-buildings {
    width: 152px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-transform: uppercase;
    color: #fff;
}
.menu-header .menu-item.magazine {
    width: 78px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-transform: uppercase;
    color: #fff;
}
.menu-header .menu-item.blog {
    width: 41px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-transform: uppercase;
    color: #fff;
}
.menu-header .menu-item.news {
    width: 43px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-transform: uppercase;
    color: #fff;
}
.menu-header .menu-item.home:focus,
.menu-header .menu-item.home:hover,
.menu-header .menu-item.architecture-design:focus,
.menu-header .menu-item.architecture-design:hover,
.menu-header .menu-item.strange-buildings:focus,
.menu-header .menu-item.strange-buildings:hover,
.menu-header .menu-item.magazine:focus,
.menu-header .menu-item.magazine:hover,
.menu-header .menu-item.blog:focus,
.menu-header .menu-item.blog:hover,
.menu-header .menu-item.news:focus,
.menu-header .menu-item.news:hover {
    color: #14B9D5;
}
.header .search-wrap {
    margin-left: 427px;
    display: flex;
    background-color: #000;
}
.header .search-wrap .search {
    padding: 27px 25px 26px 26px;
    display: flex; 
} 
.header-container .header-content {
    width: 1900px;
    background-image: url(../images/header-bg.png);
}
.header-content .header-title {
    margin-left: 658px;
    padding-top: 164px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    text-transform: uppercase;
    color: #fff;
}
.header-content .buttons {
    margin-left: 797px;
    margin-top: 44px;
    padding-bottom: 66px;
    display: flex;
}
.header-content .buttons .button-subscribe-wrap {
    display: flex;
    border-radius: 4px;
    background-color: #89ca62;
}
.buttons .button-subscribe-wrap .button-subscribe {
    padding: 16px 19px 17px 19px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #fff;
}
.header-content .buttons .button-articles-wrap {
    margin-left: 20px;
    display: flex;
    border-radius: 4px;
    background-color: #14B9D5;
}
.buttons .button-articles-wrap .button-articles {
    padding: 16px 29px 17px 30px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #fff;
}
.posts-container {
    width: 1900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #f2f2f2;
}
.posts-container .posts-title {
    margin: 52px 779px 55px 804px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    display: flex;
    text-transform: uppercase;
    color: #18b4cf;
}
.posts-container .post1 {
    height: 320px;
    margin-left: 370px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.posts-container .post1 .post1-image {
    width: 370px;
    height: 259px;
    display: flex;
}
.posts-container .post1 .post1-text {
    margin: 19px 28px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.posts-container .post2 {
    height: 441px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.posts-container .post2 .post2-image {
    width: 370px;
    height: 380px;
    display: flex;
}
.posts-container .post2 .post2-text {
    margin: 19px 52px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.posts-container .post3 {
    height: 355px;
    margin-right: 360px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.posts-container .post3 .post3-image {
    width: 370px;
    height: 290px;
    display: flex;
}
.posts-container .post3 .post3-text {
    margin: 19px 52px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.posts-container .post4 {
    height: 321px;
    margin-left: 370px;
    margin-top: -90px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.posts-container .post4 .post4-image {
    width: 370px;
    height: 260px;
    display: flex;
}
.posts-container .post4 .post4-text {
    margin: 19px 34px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.posts-container .post5 {
    height: 309px;
    margin-top: 32px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.posts-container .post5 .post5-image {
    width: 370px;
    height: 247px;
    display: flex;
}
.posts-container .post5 .post5-text {
    margin: 19px 60px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.posts-container .post6 {
    height: 441px;
    margin-top: -58px;
    margin-right: 360px;
    margin-bottom: 72px;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.posts-container .post6 .post6-image {
    width: 370px;
    height: 380px;
    display: flex;
}
.posts-container .post6 .post6-text {
    margin: 19px 37px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.clients-container {
    width: 1900px;
    margin: 0 auto;
    display: grid;
}
.clients-container .clients-content {
    width: 1900px;
    display: grid;
    background-image: url(../images/clients-bg.png);
}
.clients-container .clients-title {
    width: 496px;
    margin: 106px 702px 0px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    display: grid;
    color: #fff;
}
.clients-container .rectangle {
    width: 60px;
    height: 3px;
    margin: 87px 920px 0px;
    display: grid;
    background: #18b4cf;
}
.clients-container .brands {
    width: 881px;
    margin: 107px 510px 185px;
    display: grid;
    grid-template-columns: 207px 135px 232px 141px; 
    align-items: center;
    justify-content: space-between;
}
.top-rated-container {
    width: 1900px;
    margin: 0 auto;
}
.top-rated-container .top-rated-title {
    margin-left: 868px;
    padding-top: 49px;
    padding-bottom: 51px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18b4cf;
}
.top-rated-container .top-rated-posts {
    display: grid;
    grid-template-columns: repeat(7, 271px);
    justify-content: stretch;
}
.hot-news-container {
    width: 1900px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.0001);
}
.hot-news-container .hot-news-title {
    margin-left: 870px;
    padding-top: 48px;
    padding-bottom: 51px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18b4cf;
}
.hot-news-container .hot-news-posts {
    margin: 0 366px 77px;
    display: grid;
    grid-template-columns: 277px 277px 302px 277px;
    grid-template-rows: 259px 418px 418px 259px;
    grid-row-gap: 44px;
    grid-column-gap: 30px;
}
.hot-news-container .hot-news-posts .hot-news-post1 {
    width: 856px;
    display: grid;
    grid-column: 1 / 4;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);  
}
.hot-news-container .hot-news-posts .hot-news-post2 {
    width: 277px;
    margin-left: -54px;
    display: grid;
    grid-column: 4 / 5; 
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03); 
}
.hot-news-container .hot-news-posts .hot-news-post3,
.hot-news-container .hot-news-posts .hot-news-post5 {
    width: 554px;
    display: grid;
    grid-column: 1 / 3;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03); 
} 
.hot-news-container .hot-news-posts .hot-news-post4,
.hot-news-container .hot-news-posts .hot-news-post6 {
    width: 554px;
    display: grid;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);  
}
.hot-news-container .hot-news-posts .hot-news-post7 {
    width: 277px;
    display: grid;
    grid-column: 1 / 2;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);  
}
.hot-news-container .hot-news-posts .hot-news-post8 {
    width: 856px;
    margin-left: 6px;
    display: grid;
    grid-column: 2 / 5;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);  
}
.hot-news-post1 .hot-news-content1, 
.hot-news-post8 .hot-news-content8,
.hot-news-posts .hot-news-post1 .hot-news-image1,
.hot-news-posts .hot-news-post2 .hot-news-image2,
.hot-news-posts .hot-news-post3 .hot-news-image3, 
.hot-news-posts .hot-news-post4 .hot-news-image4, 
.hot-news-posts .hot-news-post5 .hot-news-image5,
.hot-news-posts .hot-news-post6 .hot-news-image6,
.hot-news-posts .hot-news-post7 .hot-news-image7, 
.hot-news-posts .hot-news-post8 .hot-news-image8 {
    display: flex;
}
.hot-news-post1 .hot-post1-title {
    margin-top: 41px;
    margin-left: 60px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.hot-news-post2 .hot-post2-title {
    margin: 14px 14px 11px 40px; 
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
    background: #F9F7F7;
}
.hot-news-post3 .hot-post3-title {
    margin-top: 12px;
    margin-left: 245px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.hot-news-post4 .hot-post4-title {
    margin-top: 14px;
    margin-left: 213px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.hot-news-post5 .hot-post5-title {
    margin-top: 14px;
    margin-left: 260px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.hot-news-post6 .hot-post6-title {
    margin-top: 14px;
    margin-left: 191px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
}
.hot-news-post7 .hot-post7-title {
    margin: 5px 15px 20px 38px; 
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
    background: #F9F7F7;
}
.hot-news-post8 .hot-post8-title {
    margin-top: 41px;
    margin-left: 87px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #353a3d;
    background: #F9F7F7;
}
.hot-news-post1 .hot-post1-text {
    width: 350px;
    margin-top: 14px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    text-align: right;
    color: #5b6469;
}
.hot-news-post3 .hot-post3-text,
.hot-news-post4 .hot-post4-text,
.hot-news-post5 .hot-post5-text,
.hot-news-post6 .hot-post6-text {
    width: 527px;
    margin-top: 15px;
    margin-left: 13px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    text-align: right;
    color: #5b6469;
}
.hot-news-post8 .hot-post8-text {
    width: 350px;
    margin-top: 14px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    text-align: right;
    color: #5b6469;
}
.footer-container {
    width: 1900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 518px 105px;
    grid-template-rows: 24px;
    grid-column-gap: 545px;
    padding: 29px 0 27px 0;
    justify-content: center;
    align-items: center;
    background: #000;
}
.footer-container .copyright {
    font-family: Open Sans;
    font-size: 13px;
    line-height: 13px;
    display: grid;
    color: #fff;
}
.footer-container .footer-logo-wrap {
    display: grid;
    grid-template-columns: 38px 64px;
    grid-column-gap: 3px;
    justify-content: space-between;
}
.footer-container .footer-logo-wrap .footer-logo1,
.footer-container .footer-logo-wrap .footer-logo2 {
    display: grid;
}