.body {
    width: 1280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.0001);
}
.container {
	width: 1280px;
}
.header .header-menu {
    margin-left: 364px;
}
.header .header-menu .menu {
    width: 620px;
}
.header .menu .menu-list {
	padding: 0; 
	margin: 0 -34px;
	/*
	http://prntscr.com/1s4ph2r
	http://prntscr.com/1s4pi8l
	Когда мы нашим элементам задали отступы 34px
	то они добавились каждому слева и справа.
	но нам не нужны у элемента 1 с лева а у последнего с права
	Для этого мы делаем минусовой margin: 0 -34px;
	что бы убрать лишние, компенсировать
	*/
    /*
http://prntscr.com/1s4o5vi у списка есть базовые свойства от браузера, они нам не нужны по этому их переписуем,
padding: 0;	margin: 0;
*/
}
.menu-item .link {
	vertical-align: middle; /* делаем выравнивание элементов по вертикали */
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    align-items: center;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #FF0000;
}
.menu-item.home { 
    width: 68px;
    height: 27px;
    margin-left: 0;
    padding: 25.5px 0 25.5px 0;    
}
.menu-item.photoapp {
    width: 131px;
    height: 27px;
    margin-left: 72px;
    padding: 25.5px 0 25.5px 0;
}
.menu-item.design {
    width: 87px;
    height: 27px;
    margin-left: 72px;
    padding: 25.5px 0 25.5px 0;
}
.menu-item.download {
    width: 140px;
    height: 27px;
    margin-left: 50px;  
    padding: 25.5px 0 25.5px 0;
}
.home,
.photoapp,
.design,
.download {
    display: inline-block; 
    list-style: none;
}
.image {
    width: 1280px;
}
.section-container {
    width: 1280px;
    margin-bottom: 108px;
    background: rgba(0, 0, 0, 0.0001);
}
.section-container .section-title {
    width: 1280px;
    height: 29px;
    margin-top: 48px;
    font-size: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
}
.section-container .section-content .content-text1 {
    width: 1145px;
    margin-top: 38px;
    margin-left: 67.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.section-container .section-content .content-text2 {
    width: 1145px;
    margin-top: 28px;
    margin-left: 67.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.section-container .section-content .button-wrap {
    width: 191px;
    margin-left: 544.5px;
    margin-top: 66px;
    background: #FF0000;
    border-radius: 4px;
}
.section-content .button-wrap .button {
    width: 105px;
    height: 16px;
    margin-top: 21px;
    margin-bottom: 16px;
    margin-left: 43px;
    margin-right: 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-footer {
    width: 1070px;
    margin: 0 auto;
}
.section-footer .credits {
    visibility: hidden;
    width: 382px;
    height: 16px;
    margin-left: 0.5px;
    margin-top: 41px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #373737;
}
.section-footer .footer-content {
    width: 462px;
    height: 39px;
    margin-left: 608px;
    margin-top: 25px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}
