.body {
    background: url(../img/backgr.png) no-repeat center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}
.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 79px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
}
.menu-list,
.menu-item {
    display: flex;
    align-items: center;
}
.menu-web {
    text-decoration: none;
}
.menu-text {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    word-spacing: 3px;
}
.svg {
    padding-right: 25px;
}
.menu-line {
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-right: 25px;
}
.container {
    display: flex;
    height: calc(100vh - 62.5px);
}    
.signup-form {
    width: 444px;
    max-height: calc(100vh - 62.5px);
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.form-header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}
.form-title::before {
    content: '';
    background-color: #3cb878;
    width: 18px;
    height: 18px;
    margin-right: 39px;
}
.form-title {
    display: flex;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.login {
    display: flex;
    padding-right: 58px;
    font-size: 14px;
    line-height: 14px;
    color: #3cb878;
    text-decoration: none;
}
.acc-login {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.icon {
    display: flex;
    font-size: 28px;
    line-height: 16px;
    font-weight: 700;
    align-items: center;
}
.fb {
    position: relative;
    margin-left: 57px;
    margin-right: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 13px 25px 13px 16px;
    background-color: #305db8;
}
.facebook {
    height: 24px;
}
.facebook::after {
    content: '|';
    width: 1px;
    height: 28px;
    opacity: 0.1;
    mix-blend-mode: normal;
    margin-top: 11px;
    padding-left: 17px;
    padding-right: 21px;
}
.g {
    position: relative;
    margin-left: 2px;
    margin-right: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 5.5px 25px 5.5px 12px;
    background-color: #df4a32;
}
.google::after {
    content: '|';
    width: 1px;
    height: 28px;
    opacity: 0.1;
    mix-blend-mode: normal;
    margin-top: 11px;
    padding-left: 7px;
    padding-right: 25px;
}
.fill-form {
    display: flex;
    margin-top: 31px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #848484;
}
.fill-form::before {
    display: inline-flex;
    content: '';
    width: 152px;
    padding-right: 2px;
    border-bottom: 1px solid #f2f2f2;
}
.fill-form::after {
    display: inline-flex;
    content: '';
    width: 152px;
    padding-left: 2px;
    border-bottom: 1px solid #f2f2f2;
}
.register-form {
    width: 324px;
    box-sizing: border-box;
    margin: 0 60px 15px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 14px;
    outline: none;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}
.agree-check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -3px;
    margin-left: 65px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
}
.agree-text {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
    padding-left: 8px;
    cursor: pointer;
    color: #434343;
}
.terms {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #3cb878;
}
.button-create-acc {
    width: 324px;
    margin: 17px 60px 38px 60px;    
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
}
.create-acc {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
}
.menu-title:focus,
.menu-title:hover,
.menu-enter:focus,
.menu-enter:hover,
.first:focus,
.first:hover,
.login:focus,
.login:hover,
.terms:focus,
.terms:hover {
    color: #01813f;
    transition: 1s; 
}
.button-create-acc:focus,
.button-create-acc:hover {
    background-color: #01813f;
    transition: 1s;
}
.first:focus,
.first:hover {
    fill: #01813f;
    transition: 1s;
}
.fb:focus,
.fb:hover {
    background-color: #022263;
    transition: 1s;
}
.g:hover,
.g:focus {
    background-color: #ab1f09;
    transition: 1s;
}
.register-form:focus,
.register-form:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}