@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
    position: relative;
    overflow: hidden;
    margin: 50% 0 0 0;
    font-family: 'Roboto';
    background: rgb(20, 20, 20);
}
body::after {
    position: fixed;
    content: '';
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 40%, rgba(20, 20, 20, 0) 100%);
}
.wrapper {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    perspective: 1000px;
}
body .text {
    position: relative;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    color: #ffd700;
    animation: starwars 30s linear;
    animation-iteration-count: infinite;
}
.paragraph {
    text-align: justify;
}
.title {
    text-align: center;
    text-transform: uppercase;
}

@keyframes starwars {
    from { top: 0; transform: translateZ(0) rotateX(22deg); }
    to { top: -3000px; transform: translateZ(-1500px) rotateX(23deg); }
}