.body {
    width: 1283px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.0001);
}
.container {
	margin: 0 auto;
    display: flex;
    background: rgba(0, 0, 0, 0.0001);
}
.container .header {
    width: 1283px;
    display: inline-block;
    margin-top: 63px;
    margin-bottom: 48px;
}
.container .header .header-link {
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: rgb(16, 191, 245);
}
.other-color {
    font-size: 80px;
    line-height: 94px;
    color: #000;
}
.header .menu-header {
	width: 1283px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 38px;
    background: #35444F;
}
.item-functional-programming-wraper {
    width: 331px;
    display: inline-block;
    margin-left: 162px;
    border-left: 1px solid #fff;;
    background: #35444F;
    transition-duration: 250ms;
}
.menu-item.functional-programming { 
    width: 256px;
    height: 27px;
    display: inline-block;
    margin-top: 26px;
    margin-left: 45px;
    margin-bottom: 19px;
    margin-right: 33px;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}
.item-ramda-wraper {
    width: 153px;
    display: inline-block;
    border-left: 1px solid #fff;;
    border-right: 1px solid #fff;
    background: #35444F;
    transition-duration: 250ms;
}
.menu-item.ramda {
    width: 77px;
    height: 27px;
    display: inline-block;
    margin-left: 38px;
    margin-top: 26px;
    margin-bottom: 19px;
    margin-right: 38px;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}
.item-fantasy-land-spec-wraper {
    width: 284px;
    display: inline-block;
    border-right: 1px solid #fff;;
    background: #35444F;
    transition-duration: 250ms;
}
.menu-item.fantasy-land-spec {
    width: 204px;
    height: 27px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 26px;
    margin-bottom: 19px;
    margin-right: 40px;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}
.item-nodejs-for-all-wraper {
    width: 221px;
    display: inline-block;
    border-right: 1px solid #fff;;
    background: #35444F; 
    transition-duration: 250ms;
}
.item-functional-programming-wraper:focus,
.item-functional-programming-wraper:hover,
.item-ramda-wraper:focus,
.item-ramda-wraper:hover,
.item-fantasy-land-spec-wraper:focus,
.item-fantasy-land-spec-wraper:hover,
.item-nodejs-for-all-wraper:focus,
.item-nodejs-for-all-wraper:hover {
    background-color: #222f3a;
}
.menu-item.nodejs-for-all {
    width: 163px;
    height: 27px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 26px;
    margin-bottom: 19px;
    margin-right: 18px;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}    
.main {
    display: flex;
}
.aside-container {
    width: 344px;
    height: 399px;
    display: inline-block;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.aside-item-ramda-wraper,
.aside-item-why-ramda-wraper,
.aside-item-whats-different-wraper,
.aside-item-introductions-wraper,
.aside-item-philosophy-wraper {
    width: 342px;
    display: inline-block;
}
.aside-menu-item.ramda {
    width: 106px;
    height: 27px;
    display: inline-block;
    margin: 26px 193px 26px 43px;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    color: #485863;
    transition-duration: 500ms;
}
.aside-menu-item.why-ramda {
    width: 226px;
    height: 27px;
    display: inline-block;
    margin: 27px 73px 26px 43px;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    color: #485863;
    transition-duration: 500ms;
}
.aside-menu-item.whats-different {
    width: 220px;
    height: 27px;
    display: inline-block;
    margin: 27px 79px 26px 43px;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    color: #485863;
    transition-duration: 500ms;
} 
.aside-menu-item.introductions {
    width: 179px;
    height: 27px;
    display: inline-block;
    margin: 27px 120px 26px 43px;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    color: #485863;
    transition-duration: 500ms;
}
.aside-menu-item.philosophy {
    width: 153px;
    height: 27px;
    display: inline-block;
    margin: 26px 146px 25px 43px;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    color: #485863;
    transition-duration: 500ms;
}  
.aside-item-ramda-wraper:focus,
.aside-item-ramda-wraper:hover,
.aside-item-why-ramda-wraper:focus,
.aside-item-why-ramda-wraper:hover,
.aside-item-whats-different-wraper:focus,
.aside-item-whats-different-wraper:hover,
.aside-item-introductions-wraper:focus,
.aside-item-introductions-wraper:hover,
.aside-item-philosophy-wraper:focus,
.aside-item-philosophy-wraper:hover {
    background-color: #dbdbdb;
}
.aside-menu-item.ramda:focus,
.aside-menu-item.ramda:hover,
.aside-menu-item.why-ramda:focus,
.aside-menu-item.why-ramda:hover,
.aside-menu-item.whats-different:focus,
.aside-menu-item.whats-different:hover,
.aside-menu-item.introductions:focus,
.aside-menu-item.introductions:hover,
.aside-menu-item.philosophy:focus,
.aside-menu-item.philosophy:hover {
    margin-left: 80px;
}
.section-container {
    width: 887px;
    display: inline-block;
    margin-left: 52px;
    background: rgba(0, 0, 0, 0.0001);
}
.section-container .section-content .image-wrap {
    width: 885px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.section-content .image-wrap .image {
    width: 320px;
    display: inline-block;
    margin: 75px 282.5px 73px 282.5px;
    background-color: url(../images/image1.png);
    transition-duration: 1s;
    transition-delay: 300ms;
}
.image-wrap .image:focus,
.image-wrap .image:hover {
    width: 400px;
    display: inline-block;
    margin: 26.5px 242.5px 26.5px 242.5px;
    background-color: url(../images/image1.png);
}
.section-container .section-content .content-text1 {
    display: inline-block;
    margin-top: 37px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #2c2c2c;
}
.section-container .section-content .content-text2 {
    display: inline-block;
    margin-top: 34px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    align-items: left;
    color: #2c2c2c;
}
.footer-container {
    width: 1283px;
    height: 69px;
    display: inline-block;
    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-container .footer-menu {
    display: flex;
}
.footer-container .footer-menu .footer-menu-item.ramda {
    width: 80px;
    height: 28px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    vertical-align: middle;
    color: #0c1927;   
    transition-duration: 250ms; 
}
.footer-container .footer-menu .footer-menu-item.why-ramda {
    width: 157px;
    height: 28px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 21px;
    margin-right: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    vertical-align: middle;
    color: #0c1927;    
    transition-duration: 250ms;
}
.footer-container .footer-menu .footer-menu-item.whats-different {
    width: 202px;
    height: 28px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 21px;
    margin-right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    vertical-align: middle;
    color: #0c1927;    
    transition-duration: 250ms;
}
.footer-container .footer-menu .footer-menu-item.introductions {
    width: 151px;
    height: 28px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 21px;
    margin-right: 19px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    vertical-align: middle;
    color: #0c1927;    
    transition-duration: 250ms;
}
.footer-container .footer-menu .footer-menu-item.philosophy {
    width: 128px;
    height: 28px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    vertical-align: middle;
    color: #0c1927;  
    transition-duration: 250ms;
}
.footer-menu .footer-menu-item.ramda:focus,
.footer-menu .footer-menu-item.ramda:hover,
.footer-menu .footer-menu-item.why-ramda:focus,
.footer-menu .footer-menu-item.why-ramda:hover,
.footer-menu .footer-menu-item.whats-different:focus,
.footer-menu .footer-menu-item.whats-different:hover,
.footer-menu .footer-menu-item.introductions:focus,
.footer-menu .footer-menu-item.introductions:hover,
.footer-menu .footer-menu-item.philosophy:focus,
.footer-menu .footer-menu-item.philosophy:hover {
    color:#3181a6;
    border-bottom: 1px solid #3181a6;
    box-sizing: border-box;
}
.footer-container .footer-menu .copyright {
    width: 190px;
    height: 24px;
    display: inline-block;
    margin-top: 23px;
    margin-bottom: 22px;
    margin-left: 180px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    color: #010101; 
} 