.body {
    margin: 0 auto;
    background: url(../images/background.png) no-repeat center top;
    background-size: auto;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
}
.container .header {
    padding-top: 51px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
}
.header .header-left {
    margin-left: 0;
    display: flex;
    align-items: flex-end;
}
.header .header-right {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.logo {
    display: flex;
}
.link-logo {
    text-decoration-line: none;
}
.logo .logo-image {
    display: flex;
    background-image: url(../images/logo.svg);
    width: 53px;
    height: 47px;
    margin-right: 8px;
}
.logo .logo-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo .logo-title-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.logo .logo-title-2 {
    padding-top: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.email,
.phone-number {    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;
}
.content {
    width: 1024px;
    height: 560px;
    padding-bottom: 49px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.card {
    position: relative;
    width: 300px;
    height: 260px;
    display: flex;
}
.card-link {
    text-decoration-line: none;
}
.card-img {
    width: 300px;
    height: 220px;
}
.card:hover .card-text, 
.card:focus .card-text,
.logo:hover .log,
.logo:focus .log,
.orange:hover,
.orange:focus {
    color: #F26522;
}
.view-details {
    position: absolute;
    width: 300px;
    height: 55px;
    margin-top: -55px;
    background-color: #F26522;
    display: none;
    color: #FFFFFF;
}
.from {
    display: flex;
    margin-top: 11px;
    margin-left: 16px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}
.price-details {
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: space-between;
}
.price {
    display: flex;
    margin-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.details {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
}
.details::after {
    content: url(../images/vector1.svg);
    display: flex;
    width: 5px;
    height: 10px;
    margin-right: 14px;
    padding-left: 16px;
}
.card:hover .view-details,
.card:focus .view-details {
    display: block;
    position: absolute;
    z-index: 10;
}
.card-text {
    height: 21px;
    display: flex;
    margin-top: 19px;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
}
.footer {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.footer .footer-title {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.logo:hover .logo-image,
.logo:focus .logo-image {
    background-image: url(../images/logo2.svg);
    width: 53px;
    height: 47px;
}